@*@model VayCayPlanner.Common.ViewModels.Trip.CreateNewTripVM*@
@model VayCayPlanner.Data.Models.NewTripTemplate

@{
    ViewData["Title"] = "VayCay-First Destination";
}


<div class="banner">
    <a> < </a><a asp-action="AddNewTrip">Back</a>
    <div class="row" style="text-align: center">
        <span><strong>1 - Name Trip > 2 - Add Destination > </strong> 3 - Add Travelers</span>
    </div>
</div>

<hr />
<br />
<div class="row align-items-center">
    <div class="col" style="text-align: center">
        <br />
        <h4>@Model.TripName</h4>
        <br />
    </div>
</div>
<br />
<br />

<div class="row">
    <p><strong>Let's add your first destination on this trip.</strong></p>
    <p><strong>Enter the city, country.</strong></p>
    <br />
    <div class="col-md-4">
        <form asp-action="AddTravelers" asp-route-id="@Model?.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DestinationName" class="control-label"></label>
                <input asp-for="DestinationName" class="form-control" />
                <input type="hidden" asp-for="TripName" />
                <span asp-validation-for="DestinationName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ArrivalDate" class="control-label"></label>
                <input asp-for="ArrivalDate" class="form-control" />
                <span asp-validation-for="ArrivalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureDate" class="control-label"></label>
                <input asp-for="DepartureDate" class="form-control" />
                <span asp-validation-for="DepartureDate" class="text-danger"></span>
            </div>
@*            
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>*@
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" width="20" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="AddNewTrip">Back</a>
</div>*@

