@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Rendering
@using VayCayPlanner.Data.Models
@using VayCayPlanner.Common.Constants
@using VayCayPlanner.Common.ViewModels
@inject SignInManager<Subscriber> SignInManager
@inject UserManager<Subscriber> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        .h-15{
            height: 15rem;
        }
    </style>

</head>
<div>
    <div class="container bg-primary text-center h-15">

        <div class="row align-items-center">
            <div class="col">
                <br />
                <h1>Plan and Save for your next Family Adventure!</h1>
                <br />
            </div>
        </div>
        <br />
        <br />
        <div class="row align-items-center">
            <div class="col">
                @if (SignInManager.IsSignedIn(User))
                {
                    <button type="button" class="btn btn-primary"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Trips</a>
                    </button>
                }
                else
                {
                    <button type="button" class="btn btn-primary"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
                    </button>
                }
            </div>
            <div class="col">
                @if (SignInManager.IsSignedIn(User))
                {
                    <b>Let's GO !</b>
                }
                else
                {
                    <b>Let's get started !</b>
                }
                
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary"
                        style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login"> Login </a>
                </button>
            </div>
        </div>
    </div>

    <br />

    <div class="card-group">
        <div class="card me-2">
            <img style="width: 150px;" class="card-img-top img-fluid rounded img-thumbnail mx-auto d-block" src="~/images/mexico1.jpg" alt="...">
            <div class="card-body">
                <h5 class="card-title">Start your Plan</h5>
                <p class="card-text">Add destinations and activities to create lasting memories.</p>
            </div>
            <div class="card-footer">
                <div class="row align-items-center">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <button type="button" class="btn btn-primary align-content-sm-center"
                            style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .5rem;">
                            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login"> Start a Trip</a>
                        </button>
                    }
                    else
                    {
                        <div class ="row align-items-center">
                            <small class="text-muted">Create a trip</small>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="card me-2 bg-opacity-50">
            <img style="width: 265px;" class="card-img-top img-fluid rounded img-thumbnail mx-auto d-block" src="~/images/invite1.jpg" alt="...">
            <div class="card-body">
                <h5 class="card-title">Invite your traveling companions</h5>
                <p class="card-text">Invite family and friends to join you on your adventure .</p>
            </div>
            <div class="card-footer">
                <div class="row align-items-center">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <button type="button" class="btn btn-primary"
                            style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .5rem;">
                            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login"> Invite Friends and Family </a>
                        </button>
                    }
                    else
                    {
                        <small class="text-muted">Send your invitations</small>
                    }
                </div>
            </div>
        </div>
        <div class="card">
            <img style="width: 120px;" class="card-img-top img-fluid rounded img-thumbnail mx-auto d-block" src="~/images/coffee.jpg" alt="...">
            <div class="card-body">
                <h5 class="card-title">Create a saving plans</h5>
                <p class="card-text">A travel saving plan is an important step towards achieving your dream adventures.</p>
            </div>
            <div class="card-footer">
                <div class="row align-items-center">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <button type="button" class="btn btn-primary"
                            style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .5rem;">
                            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Create a Budget</a>
                        </button>
                    }
                    else
                    {
                        <small class="text-muted">Create a savings plan</small>
                    }
                </div>
            </div>
        </div>
    </div>

    <br />

@*    <div class="container bg-primary text-center h-15">


    </div>*@

</div>




